<div class="row">
	<div class="large-6 columns large-centered">
		<% if(flash && flash.err) { %>
		<% Object.keys(flash.err).forEach(function(error) { %>
		<div data-alert class="alert-box <%= flash.type %>">
			<%- JSON.stringify(flash.err[error])%>
			<a href="#" class="close">&times;</a>
		</div>
		<% }) %>
		<% } %>
		<form action="/login" method="post" data-abide>
			<h1>Login</h1>
			<div class="row">
				<div class="small-4 columns">
					<label class="right inline">Email:</label>
				</div>
				<div class="small-8 columns">
					<input name="email" type="email" required placeholder="Email" />
					<small class="error">Enter a valid Email</small>
				</div>
			</div>

			<div class="row">
				<div class="small-4 columns">
					<label class="right inline">Password:</label>
				</div>
				<div class="small-8 columns">
					<input type="password" name="password" required placeholder="Password"/>
					<small class="error">Enter a valid text</small>
				</div>
			</div>
			<div class="row">
				<div class="large 12 columns">
					<input type="hidden" name="_csrf" value="<%= _csrf %>" />
					<input type="submit" value="Entrar" class="button right"/>
				</div>
			</div>
			<div>
				<a class="right" href="/signup">¿No tienes una cuenta? Crea una aquí.</a>
			</div>

		</form>
	</div>
</div>