<style>

</style>

<div class="row">
    <div class="large-3 columns">
        <img src="/img/logo_msecurity_shadp.png" alt="">
    </div>
    <div class="large-9 columns">
        <a href="login" class="tiny button right success">Iniciar sesión</a>
    </div>
</div>

<div class="main">
    <div class="row">
        <div class="large-6 large-offset-6 columns">
            <br><br>
            <h1 class="text-center">Aqui inicia tu historia como emprendedor</h1>
            <br>
            <br><br>
            <p class="text-center">
                <a href="signup" class="button">Crea una cuenta</a>
            </p><br>
        </div>
    </div>
</div>