 <div class="row">
 	<div class="large-12 columns">
 		<form action="/users/update/<%= user.id %>" method="POST" class="form-signin">
 			<br><br>
 			<h2>Editar perfil </h2>

 			<input value="<%= user.nombre %>" name="nombre" type="text" class="form-control"/>
 			<input value="<%= user.correo %>" name="correo" type="text" class="form-control"/>
 			<input value="<%= user.facultad %>" name="facultad" type="text" class="form-control"/>
 			<br>
 			<input type="submit" value="Enviar cambios" class="button"/>
 			<input type="hidden" name="_csrf" value="<%= _csrf %>" />
 		</form>
 	</div>
 </div>