<div class="row">
	<div class="large-7 columns large-centered">
		<br>
		<br>
		<br>

		<% if(flash && flash.err) { %>
		<% Object.keys(flash.err).forEach(function(error) { %>
		<div data-alert class="alert-box <%= flash.type %>">
			<%- JSON.stringify(flash.err[error][0].message)%>
			<a href="#" class="close">&times;</a>
		</div>

		<% }) %>
		<% } %>

		<br>
		<h1 align="center">Crea una cuenta</h1>

		<form method="POST" action="/signup" id="signup-form" data-abide>
			<div class="row">
				<div class="small-4 columns">
					<label class="right inline">Username:</label>
				</div>
				<div class="small-8 columns">
					<input name="username" type="text" required placeholder="Username" />
					<small class="error">Enter a valid username</small>
				</div>
			</div>

			
			<div class="row">
				<div class="small-4 columns">
					<label class="right inline">Email:</label>
				</div>
				<div class="small-8 columns">
					<input name="email" type="email" required pattern="email" placeholder="Email" />
					<small class="error">Enter a valid username</small>
				</div>
			</div>

			<div class="row">
				<div class="small-4 columns">
					<label class="right inline">Password:</label>
				</div>
				<div class="small-8 columns">
					<input name="password" type="password" required placeholder="Password"/>
					<small class="error">Enter a valid text</small>
				</div>
			</div>

			<div class="row">
				<div class="large-12 columns text-center">
					<input type="hidden" name="_csrf" value="<%= _csrf %>" />
					<input id="signup-button" type="submit" value="Registrar" class="button right"/>
				</div>
			</div>
		</form>
		<!--<label class="text-center"><img src="img/alumno.gif" style="left: 40pt; top: 80pt">&nbsp;&nbsp;La seguridad estudiantil es primero&nbsp;&nbsp;<img src="img/alumno.gif" ></p></div>-->
	</div>
