<div class="row full-width">
	<div class="large-12 columns">
		<br><br>
		
		<div class="row">
			<div class="large-8 columns">
				<h2>Hola, <%= user.username %></h2>
			</div>

			<div class="large-4 columns">
				<a class="button right success" href="#" data-reveal-id="newBox">Create Box</a>
			</div>
		</div>
		<h3 class="subheader">Cuenta</h3>
		<hr>
		<h5>Email: <%= user.email %></h5>
		<h5>Boxes: You don't have a box, create one</h5>
		<br>
		<div id="newBox" class="reveal-modal" data-reveal>
			<% include ../box/new.ejs %>    
			<a class="close-reveal-modal">&#215;</a>
		</div>
		

		<!--<a class="button" href="/users/edit/<%= user.id %>">Editar datos</a>-->
	</div>
	<!--<a class="button success" href="/users">Back</a>-->
</div>