<h2>Create Box</h2>

<form action="/box" method="POST">
	<div class="row">
		<div class="small-4 columns">
			<label for="">Name</label> 
		</div>
		<div class="small-8 columns">
			<input type="text" placeholder="Name" name="name">
		</div>
		<div class="small-12 columns">
			<input type="hidden" name="_csrf" value="<%= _csrf %>" />
			<input type="submit" class="button right">	
		</div>
	</div>
</form>
